# I seriously have no idea what this file is unless the filename makes some sense
oot = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,json,yml}]
charset = utf-8
indent_style = space
indent_size = 2